
.resena h4 {
    font-family: 'arimo', serif;
    font-size: 0.9rem;
    color: #424242;
    margin: 0;
    padding: 1px 0 20px 20px;
  }
  
  .resena button {
    width: 100px;
    font-family: 'Asul', serif;
    font-size: 1.4rem;
    background: rgb(38, 38, 38);
    padding: 7px;
    border-radius: 20px;
    align-self: self-end;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  .resena button:hover {
    background: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  ///BLOQUE ESCRIBIR RESEÑA
  .formulario-resena {
    margin: 20px;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(69, 184, 216, 0.633);
    box-shadow: 2px 4px 8px rgba(64, 214, 255, 0.17);
  }
  
  .formulario-resena h4 {
    font-size: 1.4rem;
    padding-left: 3px;
    color: #1b1b1b;
    font-family: 'asul', sans-serif;
  }
  
  .formulario-resena h5 {
    font-size: 1rem;
    padding-left: 3px;
    color: #777777;
    font-family: 'arimo', sans-serif;
    margin: 0;
  }
  
  .i1 {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: none;
    padding: 5px;
    font-size: 1.1rem;
    font-family: 'asul', serif;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  
  .i1:focus {
    outline: none; 
    border-bottom: 1px solid black;
  }
  
  .i2 {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    padding: 5px 10px; 
    font-size: 1.1rem;
    font-family: 'asul', serif;
    margin-bottom: 5px;
    height: auto; 
    line-height: 1.5;
  }
  
  .i2:focus {
    outline: none; 
    border: 1px solid rgb(0, 0, 0);
  }
  
  .formulario-resena button {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #212121;
    font-size: 'Arimo', serif;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .formulario-resena button:hover {
    background-color: #000000;
  }
  
  //ESTRELLAS PARA VOTAR
  .rating-container {
    display: flex;
    gap: 2px;
    font-size: 27px; 
    margin-bottom: 10px;
  }
  
  ion-icon {
    color: #ccc;
    cursor: pointer;
  }
  
  ion-icon.active {
    color: #2f7547;
  }
  