<ion-content color="dark">

<!-- BLOQUE DE HEADER -->
<header class="header">
  <div class="header-menu">
    <ion-title>
      GameAll
    </ion-title>
    <ion-list lines="none">
      <ion-item (mouseover)="changeColorOnMouseOver($event)" (mouseout)="restoreColorOnMouseOut($event)" (click)="navigateTo('/home')">
          <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item  (mouseover)="changeColorOnMouseOver($event)" (mouseout)="restoreColorOnMouseOut($event)"(click)="navigateTo('/explorar')">
        <ion-label>Explorar</ion-label>
      </ion-item>
      <ion-item (mouseover)="changeColorOnMouseOver($event)" (mouseout)="restoreColorOnMouseOut($event)" *ngIf="!sesionEncendida" (click)="navigateTo('/login')">
        <ion-label>Iniciar Sesión</ion-label>
      </ion-item>
      <ion-item (mouseover)="changeColorOnMouseOver($event)" (mouseout)="restoreColorOnMouseOut($event)" *ngIf="admin" (click)="navigateTo('/solicitudes')">
        <ion-label>Solicitudes de juegos</ion-label>
      </ion-item>
      <ion-item *ngIf="sesionEncendida" (mouseover)="changeColorOnMouseOver($event)" (mouseout)="restoreColorOnMouseOut($event)" (click)="ocultarMostrarSesion()">
        <ion-icon name="person" class="sesion"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</header>

<div class="sesion-informacion" *ngIf="mostrarDiv">
  <h6>{{email}}</h6>
  <h6>{{nickname}}</h6>
  <p  *ngIf="admin">administrador</p>
  <ion-icon name="log-out-outline" (click)="cerrarSesion()"></ion-icon>
</div>

<div class="explorar-top">
  <h1>Reseñas de tus juegos favoritos</h1>
  <p>Reseñas de todos los juegos en steam, xbox y todas las tiendas. ¡Conoce qué opinan los profesionales y otros jugadores de tus juegos favoritos!</p>
  <div class="buscar">
    <ion-icon name="search-outline"></ion-icon><input type="text" placeholder="Buscar..." [(ngModel)]="filtro" (input)="filtrarJuegos()">
  </div>
</div>

<div class="grid-container" >
  <div class="grid-item" *ngFor="let juego of juegosFiltrados$  | async">
      <div class="imagen-resena" [style.backgroundImage]="'url(' + juego.imagen + ')'"></div>
      <div class="contenido-resena-explorar">
        <h3>{{ juego.nombreJuego }}</h3>
        <div> <p>{{juego.autor}}</p> - <p>{{ formatearLanzamiento(juego.lanzamiento) }}</p></div>
        <p id="ac">{{ juego.sinopsis }}</p>
        <hr>
        <button (click)="navigateToGame('/juego-resena', juego.nombreJuego)">Ver más</button>
      </div>
  </div>
  
  <!-- Agrega más elementos según sea necesario -->
</div>

<div class="contenedor-proponer">
  <div>
    <h2>¿No encuentras tu juego?</h2>
    <p>¡Mándanos una solicitud y lo agregaremos cuanto antes!</p>
    <!-- Botones de solicitud -->
    <button (click)="ocultarMostrar()" *ngIf="sesionEncendida">Solicitar juego</button>
    <button (click)="navigateTo('/login')" *ngIf="!sesionEncendida">Solicitar juego</button>
    <!-- Boton depuracion -->
    <!-- <button (click)="ocultarMostrar()">Solicitar juego</button> -->
  </div>
</div>

<div class="formulario-proponer" *ngIf="mostrarFormulario" >
  <form [formGroup]="solicitudForm" (ngSubmit)="saveSolicitud()">
    <h2>Solicitar juego</h2>
    <input type="text" placeholder="Nombre del juego" required formControlName="juego">
    <input type="text" placeholder="Desarrollador" required formControlName="desarrollador">
    <p>Si tu petición no corresponde con la temática de la página o tiene un uso irresponsable, serás baneado.</p>
    <button type="submit">Enviar</button>
  </form>

  <ion-icon name="close" (click)="ocultarMostrar()"></ion-icon>
</div>




<!-- BLOQUE DE FOOTER -->
<ion-footer>
  <ion-row class="ion-align-items-center">
    <ion-col size="2" class="ion-text-center">
      <ion-label class="ion-text-center"><h1>GameAll</h1></ion-label>
    </ion-col>
    <ion-col size="4" class="faqs">
      <ion-label (click)="navigateTo('/explorar')">¿Quién puede leer mi reseña?</ion-label>
      <ion-label (click)="navigateTo('/explorar')">Quiero hacer una reseña de un juego que no se encuentra en la página</ion-label>
    </ion-col>
    <ion-col size="3" class="faqs">
      <ion-label (click)="navigateTo('/explorar')">Escribir reseña</ion-label>
      <ion-label (click)="navigateTo('/explorar')">Reseñas recientes</ion-label>
      <ion-label (click)="navigateTo('/login')">Iniciar sesión</ion-label>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-col>
  </ion-row>
  <h3>TODOS LOS DERECHOS RESERVADOS</h3>
</ion-footer>
</ion-content>