//RESEÑAS RECIENTES
.my-list{
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 380px;
    border-radius: 10px;
    padding: 0 8px 0 8px;
  }
  
  .resena-reciente{
    border-radius: 10px;
    height: 370px;
    background: url('https://docs-demo.ionic.io/assets/madison.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;  
    box-shadow: 4px 1px 5px rgba(0,0,0,0.5);
    transition: 0.8s;
    cursor: pointer;
  }
  
  .resena-reciente:hover{
    flex: 1.3;
  }
  
  .resena-reciente ion-label{
    padding: 13px;
    border-radius: 0 0 10px 10px;
    font-size: 1rem;
    font-family: 'Asul', serif;
    color: #fff;
    background: #000;
    text-align: center;
    transition: 0.5s;
  }
  
  .resena-reciente ion-label:hover{
    padding-bottom: 16px;
    font-size: 1.09rem;
    color: #a89414;
  }
  
  //ESCRIBE UNA RESEÑA
  .section-escribir-resenia-container{
    display: flex;
    min-height: 600px;
    gap: 15px;
  }
  
  .escribir-contenedor{
    flex: 3;
    background: url('../../assets/escribir-mando-wall.jpg') no-repeat;
    background-position: left;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .escribir-subcontenido {
    background-color: rgba(0,0,0,0.5);
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Arimo', serif;
    border-radius: 0 0 10px 10px;
  }
  
  .escribir-subcontenido h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  
  .escribir-subcontenido p {
    font-size: 1.1rem;
    width: 70%;
  }
  
  .escribir-subcontenido button {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #BD4B4B;
    transition: 0.5s;
    font-size: .9rem;
  }
  
  .escribir-subcontenido button:hover {
    background: #984040;
  }
  
  //RESENA MÁS VOTADA
  .resenamas-votada{
    border-radius: 10px;
    flex: 1;
    min-width: 380px; 
    padding: 15px;
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: justify;
    justify-content: space-between;
  }
  
  #topResenatitle{
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  
